


body {
	background-image: url("../images/background.png");
	font-size: 1.5em;
}

header {
	width: 75%;
	margin: 0 auto;
	padding: 0;
	display: table;
}

header div {
	display: inline-block;
}

.title, .cart {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.title {
	width: 65%;
	height: 100%;
}

.cart {
	width: 30%;
	height: 100%;
}

.userChoice {
	width: 80%;
	height: 3em;
	margin: 0 auto;
	text-align: center;
}

.input, .reset, .current, .removed {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin: 0;
}

.input, .reset {
	height: 3em;
}

.lists {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.lists ul {
	margin-left: 4em;
	padding: 0;
	text-align: left;
	list-style-type: none;
}

.current, .removed {
	min-height: 10em;
}

.checked {
	text-decoration: line-through;
}


* {
	border: solid 1px red;
}

@media only screen and (max-width: 500px) {
    body {
    	font-size: 1em;
    }

    .lists {
    	width: 90%;
    }

    .lists ul {
    	margin: 0;
    	padding: 0;
    }

    .current, .removed {
    	width: 43%;
    }
}